.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

android/.gradle/
android/local.properties

ios/Flutter/ephemeral/

linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

.idea/
*.iml
.vscode/
